<h1>Editing transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

	Amount (£): <%= f.text_field :amount, :label => 'Amount'%>
	<br/>
	Description: <%= f.text_field :description, :label => 'Description'%>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>
